.layout {
    display: flex;
    flex-direction: row;
}

.left-pane {
    flex: 1;
    margin-right: 10px;
}

.right-pane {
    flex: 2;
}

.created-layout {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.half-pane {
    flex: 1;
}
